---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Contacto | Talento Match">
	<section class="container mx-auto px-6 py-12">
		<h1 class="text-4xl font-bold mb-8 text-center">Contacto</h1>
		<article class="prose lg:prose-xl max-w-none">
			<!-- Aquí va el contenido de contacto -->
			<p>
				Si tienes alguna pregunta, comentario o necesitas asistencia, no dudes en ponerte en
				contacto con nosotros. Estamos aquí para ayudarte a encontrar el trabajo de tus sueños y
				para apoyar a las empresas en la búsqueda del mejor talento.
			</p>
			<!-- Más secciones según sea necesario -->
		</article>
		<article id="asesoria">
			<h2 class="text-3xl font-bold mb-4 mt-12 text-center">Asesoría</h2>
			<p>
				Ofrecemos servicios de asesoría personalizados para ayudarte a optimizar tu perfil y mejorar
				tus oportunidades laborales. Contáctanos para más información sobre nuestros servicios de
				asesoría.
			</p>
		</article>
	</section>
</BaseLayout>
