---
import SectionDataAnalysis from "@components/SectionDataAnalysis.astro";
import SingleCardPricing from "@components/SingleCardPricing.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Precios Empresa | Talento Match">
	<section class="container mx-auto px-6 py-12">
		<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-8 text-center">
			Precios sencillos y <span class="underline">transparentes</span>
		</h1>
		<p class="text-center max-w-2xl mx-auto mb-12 text-base md:text-lg">
			Activa el plan que prefieras y accede a
			<span class="font-bold">herramientas inteligentes</span>
			diseñadas para ayudarte a captar perfiles realmente alineados
			<span class="underline font-semibold">con tus vacantes.</span>
		</p>
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-7xl mx-auto place-items-center">
			<SingleCardPricing />
			<SingleCardPricing />
			<SingleCardPricing />
		</div>
	</section>

	<SectionDataAnalysis />
</BaseLayout>
