---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Precios Empresa | Talento Match">
	<section class="container mx-auto px-6 py-12 h-full">
		<h1 class="text-3xl font-bold mb-8 text-center">Precios para Empresas</h1>
		<article class="prose lg:prose-xl max-w-none">
			<p>
				En Talento Match, ofrecemos planes de precios flexibles diseñados para satisfacer las
				necesidades de las empresas que buscan el mejor talento. Nuestros planes incluyen opciones
				para pequeñas, medianas y grandes empresas, con características adaptadas a cada tipo de
				negocio.
			</p>
			<p>
				Nuestros precios competitivos aseguran que obtengas el máximo valor por tu inversión.
				Ofrecemos funcionalidades como acceso a nuestra base de datos de talentos, herramientas
				avanzadas de matching impulsadas por IA, y soporte dedicado para ayudarte en cada paso del
				proceso de reclutamiento.
			</p>
			<p>
				Contáctanos para obtener una cotización personalizada y descubrir cómo Talento Match puede
				transformar tu proceso de contratación.
			</p>
		</article>
	</section>
</BaseLayout>
