---
import AccordionFrecuentlyQuest from "@components/AccordionFrecuentlyQuest.astro";
import SectionSolution from "@components/SectionSolution.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Preguntas Frecuentes | Talento Match">
	<SectionSolution />
	<section class="container mx-auto px-6 py-12">
		<h1 class="text-4xl font-bold mb-8 text-center">
			Preguntas <span class="accent-tm-cyan">Frecuentes</span>
		</h1>
		<AccordionFrecuentlyQuest />
	</section>
</BaseLayout>
