---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Quienes somos | Talento Match">
	<section class="container mx-auto px-6 py-12 h-full">
		<h1 class="text-3xl font-bold mb-8 text-center">Quienes somos</h1>
		<article class="prose lg:prose-xl max-w-none">
			<p>
				Talento Match es una plataforma innovadora dedicada a conectar talentos con oportunidades
				laborales ideales. Nuestra misión es facilitar el proceso de búsqueda de empleo tanto para
				los candidatos como para las empresas, utilizando tecnología avanzada para asegurar un
				matching efectivo.
			</p>
			<p>
				Fundada en [año de fundación], Talento Match ha crecido rápidamente gracias a nuestro
				compromiso con la calidad y la satisfacción del usuario. Contamos con un equipo de
				profesionales apasionados por ayudar a las personas a encontrar el trabajo de sus sueños y a
				las empresas a descubrir el mejor talento disponible.
			</p>
			<p>
				En Talento Match, creemos en la importancia de la diversidad, la inclusión y el desarrollo
				profesional continuo. Nos esforzamos por crear un entorno donde todos los usuarios se
				sientan valorados y apoyados en su camino hacia el éxito laboral.
			</p>
		</article>
	</section>
</BaseLayout>
